.modal {
  z-index: 999;
  //   background: rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 4px;
  height: 100%;
}

.modal-body {
  font-size: 20px;
  overflow-wrap: break-word;
  color: #85e21f;
  font-family: "VT323", monospace;
}

.modal-button {
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
