.modal {
  z-index: 999;
  //   background: rgba(0, 0, 0, 0.2);
  height: 100%;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  border-width: 1px;
  background: #c0c0c0;
  padding: 1px;
}

.modal-title {
  align-items: center;
  height: 28px;
  font-family: "VT323", monospace;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000080;
  color: #ffffff;
}

.modal-body {
  overflow-wrap: break-word;
  font-family: "VT323", monospace;
  padding: 5%;
}

.modal-button {
  cursor: pointer;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  background-color: #c0c0c0;
  color: #000;
  margin: 2px;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
    border-color: #808080;
  }
}
